/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&family=JetBrains+Mono&display=swap');

:root {
    --bg-dark: #0f172a;           /* Deep Blue Grey */
    --sidebar-bg: #020617;
    --card-bg: #1e293b;           /* Lighter Slate */
    --accent-blue: #38bdf8;       /* Electric Blue */
    --accent-green: #22c55e;      /* Success Green */
    --accent-red: #ef4444;        /* Alert Red */
    --text-main: #f1f5f9;
    --text-muted: #94a3b8;
    --border-color: #334155;
    
    /* Tambahan Warna untuk Jalur */
    --link-active: #0a3d62;       /* Biru Tua Banget */
    --link-idle: #94a3b8;         /* Abu-abu */
}

* {
    margin: 0; padding: 0; box-sizing: border-box;
}

body {
    background-color: var(--bg-dark);
    color: var(--text-main);
    font-family: 'Inter', sans-serif;
    min-height: 100vh;
    overflow-y: auto; 
    line-height: 1.5;
}

/* --- ANIMASI ALIRAN LISTRIK --- */
@keyframes flowDash {
    to {
        stroke-dashoffset: -20;
    }
}

.link-flow-active {
    stroke-dasharray: 10, 5; /* Pola garis putus-putus */
    animation: flowDash 1s linear infinite; /* Gerakan mengalir */
}

/* --- STYLING LABEL TEKS D3.JS --- */
/* Biar teks Hitam tetap kelihatan di Background Gelap */
#topo-svg text {
    /* fill: #000000 !important; */
    font-weight: 800;
    font-size: 12px;
    pointer-events: none;
    /* Trik HALO/OUTLINE Putih: Agar teks hitam "mengambang" dan terbaca */
    paint-order: stroke;
    stroke: #ffffff;
    stroke-width: 3px;
    stroke-linecap: round;
    stroke-linejoin: round;
}


.card {
    background: var(--card-bg);
    border-radius: 16px;
    border: 1px solid var(--border-color);
    padding: 24px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.4);
    margin-bottom: 24px;
}


/* Topology Canvas */
#topo-container {
    width: 100%; 
    height: 500px;
    /* Gradasi biar lebih dramatis */
    background: radial-gradient(circle, #1e293b 0%, #0f172a 100%);
    border-radius: 12px;
    position: relative;
    border: 1px solid var(--border-color);
    overflow: hidden;
}

/* Iframe Styling */
iframe {
    width: 100%;
    border-radius: 12px;
    border: 1px solid var(--border-color);
    background: #111;
}

.sw-btn.active {
    background-color: #3498db !important; /* Warna aksen biru */
    color: white !important;
    border-color: #2980b9;
    box-shadow: 0 4px 6px rgba(52, 152, 219, 0.3);
}

/* Custom Scrollbar */
::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background: var(--bg-dark); }
::-webkit-scrollbar-thumb { background: var(--border-color); border-radius: 10px; }
::-webkit-scrollbar-thumb:hover { background: var(--accent-blue); }